<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link rel='stylesheet' href='/work-tickets/stylesheets/style.css' />
  <title>
    Work Tickets
  </title>
</head>

<body>
  <div class="main">
    <header class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <ul>
            <li><a href="/" class="left brand-logo">&nbsp;&nbsp;Work Tickets</a></li>
          </ul>
          <ul class="right">
            <% if (user) { %>
              <li><a href="/users/employee">Employee Portal</a></li>
              <li><a href="/tickets">Tickets</a></li>
              <li> <a href="/logout">Logout</a></li>
              <% } else { %>
                <li><a href="/">Home</a></li>
                <li><a href="/auth/google">Login</a></li>
                <% } %>
          </ul>
        </div>
      </nav>
    </header>