<%- include('./partials/header') %>

<div class="container">
  <h1 class="center-align">Work Tickets</h1>
  <main class="home">
    <div class="info-block">
      <h4>An App for Employees & Customers!</h4>
      <span>
        Users can submit their issues to be assigned to an employee for review!
      </span>
    </div>
    <div class="info-block">
      <h4>Provide Ticket Information</h4>
      <span>
        Provide a subject for the issue you have been experiencing, as well as a
        detailed description for the employee to review.
      </span>
    </div>
    <div class="info-block">
      <h4>Access Your Assigned Tickets</h4>
      <span>
        Users registered as employees can access a list of tickets currently
        assigned to them. They can update and mark these tickets as complete.
      </span>
    </div>
  </main>
</div>
<%- include('./partials/footer') %>
