<%- include('./partials/header') %>
    <h1 class="center-align">Work Tickets</h1>
    <main class="home">
        <div>
            <h4>An app for Employees & Customers!</h4>
            <span>Users are able to get their issues assigned to an employee for review!</span>
        </div>
        <div>
            <h4>Provide Ticket Information</h4>
            <span>Provide a subject for issue you have been having, as well a detailed description for the employee.</span>
        </div>
        <div>
            <h4>Access your assigned tickets</h4>
            <span>Users that are registered as employees and access a list of tickets that are currently assigned to them, they are able to update and mark them complete.</span>
        </div>

    </main>
    <%- include('./partials/footer') %>